body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.app {
  padding-top: 5px;
}

.link {
  color: gray;
  text-decoration: none;
}

.linkActive {
  color: white;
}
